[mysqld]
# Needed for compatibility with existing SQL clients / WordPress.
default-authentication-plugin=mysql_native_password

# Listen on all interfaces
bind-address=0.0.0.0

# (hopefully) short-term patch to return correctly encoded data despite having utf-8 mangled into latin1 columns
init-connect='SET NAMES Latin1'

# Setting `sql-mode` non-default to disable strict modes
# In this configuration, MySQL 5.7 will mimic 5.6's behavior of
# accepting NULL as an input for columns set NOT NULL.
# This is not great, but needed for compatibility with our
# application as it stands today. [21 July 2022]
sql-mode=ONLY_FULL_GROUP_BY,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
